<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="../img/image.jpg" alt="image.png" class="img-thumbnail rounded-circle" width="250">
      <h1 class="display-4">Azril Achmad</h1>
      <p class="lead">Flutter dev</p>
    </div>
  </div>
</div>